/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/* Uncomment this block if using RGB
&led_strip {
    chain-length = <6>;
    // chain-length = <31>; // Uncomment if using both per-key and underglow LEDs
    // chain-length = <25>; // Uncomment if using only per-key LEDs.
};
 */

/ {
    behaviors {
        td_cmd_cmdbackthick: td_cmd_cmdbackthick {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_CMD_CMDBACKTHICK";
            #binding-cells = <0>;
            bindings = <&kp LCMD>, <&kp LG(GRAVE)>;
        };

        td_window_left: td_window_left {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_WINDOW_LEFT";
            #binding-cells = <0>;
            bindings = <&kp LG(LA(LEFT_ARROW))>, <&kp LG(LC(LA(LEFT_ARROW)))>;
        };

        td_window_right: td_window_right {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_WINDOW_RIGHT";
            #binding-cells = <0>;
            bindings = <&kp LG(LA(RIGHT_ARROW))>, <&kp LG(LC(LA(RIGHT_ARROW)))>;
        };

        td_numbers_layer: td_numbers_layer {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_NUMBERS_LAYER";
            #binding-cells = <0>;
            bindings = <&mo 3>, <&to 3>;
        };

        td_navigation_layer: td_navigation_layer {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_NAVIGATION_LAYER";
            #binding-cells = <0>;
            bindings = <&mo 2>, <&to 2>;
        };

        td_code_layer: td_code_layer {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_CODE_LAYER";
            #binding-cells = <0>;
            bindings = <&mo 1>, <&to 1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | LAYER 1 | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
            //                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |

            bindings = <
&kp ESC    &kp Q  &kp W  &kp E         &kp R      &kp T                                                                                         &kp Y      &kp U                   &kp I      &kp O    &kp P          &kp DELETE
&kp TAB    &kp A  &kp S  &kp D         &kp F      &kp G                                                                                         &kp H      &kp J                   &kp K      &kp L    &kp BACKSPACE  &kp LA(NUMBER_1)
&kp LSHFT  &kp Z  &kp X  &kp C         &kp V      &kp B           &td_navigation_layer  &td_numbers_layer     &trans                &kp LC(A)   &kp N      &kp M                   &kp COMMA  &kp DOT  &trans         &trans
                         &kp LEFT_ALT  &kp LCTRL  &td_code_layer  &kp LEFT_SHIFT        &td_cmd_cmdbackthick  &td_cmd_cmdbackthick  &kp RETURN  &kp SPACE  &kp LA(LC(LEFT_SHIFT))  &trans
            >;
        };

        code {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |       |      |BT_CLR|BTSEL0|BTSEL1|BTSEL2|                                         |      |      |      |      |      |      |
            // |       |      |      |BTSEL3|BTSEL4|      |                                         |      |      |      |      |      |      |
            // |       |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |
            //                       |      |      |      |      |      |      |      |      |      |      |      |      |

            bindings = <
&kp EXCLAMATION  &kp AT_SIGN  &kp HASH       &kp DOLLAR            &kp PERCENT        &kp CARET                                            &kp AMPERSAND      &kp MINUS        &kp UNDERSCORE         &kp ASTERISK      &kp PLUS       &trans
&trans           &kp SLASH    &kp LESS_THAN  &kp LEFT_PARENTHESIS  &kp LEFT_BRACE     &kp LEFT_BRACKET                                     &kp RIGHT_BRACKET  &kp RIGHT_BRACE  &kp RIGHT_PARENTHESIS  &kp GREATER_THAN  &kp BACKSLASH  &trans
&to 0            &kp TILDE    &kp GRAVE      &kp SINGLE_QUOTE      &kp DOUBLE_QUOTES  &kp EQUAL         &trans  &trans  &kp F6  &kp LC(A)  &kp COLON          &kp SEMICOLON    &trans                 &kp QUESTION      &kp PIPE       &trans
                                             &trans                &trans             &trans            &trans  &trans  &kp F5  &kp F1     &kp F2             &kp F3           &kp F4
            >;
        };

        navigation {
            bindings = <
&trans  &trans          &trans     &trans        &trans     &trans                                         &trans          &trans           &trans         &trans            &trans  &trans
&trans  &kp LEFT_SHIFT  &kp LCTRL  &kp LEFT_ALT  &kp LCMD   &kp LG(GRAVE)                                  &kp LEFT_ARROW  &kp DOWN_ARROW   &kp UP_ARROW   &kp RIGHT_ARROW   &trans  &trans
&to 0   &kp LG(Z)       &kp LG(X)  &kp LG(C)     &kp LG(V)  &trans         &trans  &trans  &trans  &trans  &trans          &td_window_left  &kp LG(LA(F))  &td_window_right  &trans  &trans
                                   &trans        &trans     &trans         &trans  &trans  &trans  &trans  &trans          &trans           &trans
            >;
        };

        numbers_media {
            bindings = <
&trans  &trans        &trans        &trans        &trans        &trans                                          &trans        &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans                                          &trans        &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans  &trans
&to 0   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR  &trans  &trans  &trans  &kp LC(A)   &trans        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans
                                    &trans        &trans        &trans      &trans  &trans  &trans  &kp RETURN  &kp NUMBER_0  &kp NUMBER_0  &trans
            >;
        };
    };
};
